body{
    height: 100vh;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black ;
}

h1{
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.neon{
    color: #fff;
    text-shadow: 0 0 5px red;
}